.banner-tnmt { height: 65px; }

.map-container {
    height: calc(100vh - 169px);
}

#switch-basemaps {
    z-index: 999;
    right: 15px;
    top: 20px;
}

.top-bar {
    height: 85px;
}

.form-control:disabled, .form-control[readonly]{
    background-color: transparent !important;
}

.bg-lightgray { background-color: #fbfafa !important; }
.bg-goldenyellow { background-color: lightgoldenrodyellow !important }
.bg-lightred { background-color: #f3baba !important }
.bg-lightgreen { background-color: #b8ffb8 !important }
.bg-lightblue { background: lightblue !important; }

.btn-home-top {
    width: 35px;
    height: 35px;
}

#btn_back_page { font-size: 18px; }
.bg-header-bar { background: #1874bd; }
.text-header-bar { color: #1874bd; }
.btn-home-top:hover { background: #ffa43b; }
.auth-bar { background: #d4edf5; }
.btn-logout { border: 0; font-size: 18px; }

.grid-item-image {
    width: 90px;
    height: 75px;
}

.grid-item-text {
    font-family: Arial, serif;
    font-size: 14px;
    color: #219653;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

/* Quan ly cap phep */
.surfacewater-usage, .discharge-water, .construction-info, .exploit-surfacewater, .information-about-license-owner-title, #wastewater-wrap {
    border: 1px solid #d5e6fb;
}

.surfacewater-usage-title, .discharge-water-title, .construction-info-title, .exploit-surfacewater-title, .information-about-license-owner-title {
    background: #2f80ed33;
}

.hover-link{color: #000 !important;}
.hover-link:hover{background-color: #1874bd !important; font-weight: bold; color: #fff !important;}

#surfacewater-usage { overflow-y: auto; height: calc(100vh - 156px);
}

#dams-num { left: 8px; top: 5px; }
#slash { top: 8px; left: 27px; }
#total-dams { top: 12px; left: 32px; }

.bg-sw-title-box { background: #1491A5; }
.bg-sw-content-box { background-color: #48abbb; }
.bg-ww-title-box { background: #24963E; }
.bg-euw-title-box { background: #E6AD04; }
.bg-uwe-title-box { background: #C62F3E; }
.bg-practise-title-box { background: #606160; }
.qlcp-chart { overflow: hidden; }
.bg-greenyellow{ background: rgba(114, 181, 82, 0.23); }
.bg-brownyellow{ background: rgba(181, 159, 82, 0.23); }


.bg-sw-box .img__contruction { height: 75px; width: 75px; overflow: hidden; border-radius: 75px;}
.bg-sw-box .badge { left: 50%; bottom: 0; transform: translateX(-50%); }

.text-violet{ color: #D71EB9; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.text-blue{ color: #2115A5;}


.step__button .ant-steps-navigation.ant-steps-small .ant-steps-item-container{
    display: flex; justify-content: center; align-items: center;
}
.step__button .ant-steps-navigation .ant-steps-item::after{
    display: none;
}
.vh-50{height: 50vh !important;}
.vh-100{height: 100vh !important;}
.hydroelectric-icon { width: 65px; height: 65px; }
.hydroelectric-sub-icon { width: 45px; height: 45px; }

.ant-table-thead > tr > th { padding: 5px 6px !important; }
.ant-table-tbody > tr > td { padding: 6px !important; cursor: pointer; font-size: 13px; }
.table-icon { width: 15px; height: 15px; }

.ant-modal{top: 0 !important;}
.modal-view-file-pdf iframe{height: 75vh !important;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #1874bd !important;
    color: #fff !important;
    font-weight: bold;
}

.ant-steps-item-container{
    
    display: flex;
    align-items: center;
}

.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
    display: flex !important;
    align-items: center;
}
.ant-steps-vertical > .ant-steps-item .ant-steps-item-icon{
    margin: 0 16px;
}

.report-item{
    height: 100px;
}
.report-item-four{
    height: 100%;
}

.table-data-license tr:nth-child(even){background-color: #f2f2f2;}
.table-responsive{padding: 0 !important;}
.modal_quantrac{
  max-height: 82vh;
  height: 82vh;
  overflow-y: scroll;
} 
.modal_quantrac .table_quantrac {
  /* Not required only for visualizing */
  border-collapse: collapse;
  width: 100%;
}

.modal_quantrac .table_quantrac thead tr th {
  /* Important */
  position: sticky;
  z-index: 100;
  top: 0;
}
.modal_quantrac .table_quantrac{margin-bottom: 0 !important;}

/* Tong Quan Cong Trinh */
.cursor_pointer{cursor: pointer;}

.license_status{
    white-space: nowrap;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    padding: 0 0.2rem;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

/* Gioi Thieu Chung */
.introduce-image{
    width: 95px;
    height: 65px;
}
.close-btn{position: absolute; top: 5px; right: 5px;}
/* giam sat ktsd */
.ant-pagination-options { display: none !important; }
.ant-modal-mask { background-color: rgb(0 0 0 / 9%) !important; }

/* He thong giam sat */
.hover-bg:hover{background-color: lightgray; transition-duration: 500ms;}


/* He thong quan trac */
.modal-quantrac .ant-modal-header{
  background-color: #00b4fa !important;
  padding: 5px !important;
}
.modal-quantrac .ant-modal-header .ant-modal-title{
  color: #fff !important;
}

.modal-quantrac .ant-modal-body {
  padding: 10px !important;
}

/* rotate colse btn */
.modal-quantrac .ant-modal-close-x {
  width: 33px !important;
  height: 33px !important;
  line-height: 33px !important;
}

.leaflet-popup-close-button {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  padding: 0 !important;
}


.ant-modal-close-x, .leaflet-popup-close-button{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: transform .7s ease-in-out;
}

.ant-modal-close-x:hover{
  transform: rotate(180deg);
  transition-duration: 500ms;
}

.leaflet-popup-close-button:hover{
  transform: rotate(180deg);
  transition-duration: 500ms;
}

.text-2-wrap{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.ant-table-thead > tr > th{
  white-space: nowrap;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* search box styles */
.ant-input-search-button{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* checkbox styles */
.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 10px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .quantrac_item img{
    height: 60px;
    width: 60px;
  }

  .quantrac_title{
    height: 42px;
    line-height: 14px;
  }


  #desktopNav{display: none;}

  /* Mibile Nav */

  #mobileNav {
    background-color: #1E1E23;
    height: 65px;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 90vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888c;
    margin: -25px;
    padding: 10px;
    padding-top: 50px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    list-style: none;
    overflow-y: auto;
}
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

.map-layer { z-index: 9999; right: 50px; top: 55px; }
.map-legend { z-index: 9999; right: 50px; top: 90px; }
.btn-map-layer { z-index: 9999; right: 15px; top: 55px; }
.btn-map-legend { z-index: 9999; right: 15px; top: 90px; }

.dot { width: 15px; height: 15px; }
.bg-conhieuluc { background: #35ca21; }
.bg-hethieuluc { background: #dc3545; }
.bg-saphethieuluc { background: #fbc773; }
.bg-chuaduocduyet { background: #cecfd0; }

.legend-title-secondary { border-bottom: 1px solid #6c757d; }

@media screen and (min-width: 768px){
    .top-bar { height: 35px; line-height: 35px; }
    #dams-num { left: 46px; top: 17px; }
    #slash { top: 21px; left: 65px; }
    #total-dams { top: 25px; left: 70px; }
    .banner-tnmt { height: 130px; }
    .report-item-four{height: unset;}
    .menu-home {height: calc(100vh - 169px);overflow-y: auto;}
    .menu-page {height: calc(100vh - 35px);overflow-y: auto;}
    .img__sea_lever{height: 61px;}
    .ant-modal{top: 50px !important; z-index: 9999;}
    .modal-view-file-pdf iframe{height: 600px !important;}


    #desktopNav{display: block;}
    /* mobile nav */
    #mobileNav{display: none;}

}

@media screen and (min-width: 1024px){
    #dams-num { left: 11px; top: 3px; } 
    #slash {top: 8px;left: 29px; }
    #total-dams { top: 14px; left: 33px; }
}